P {font-size: 15pt; color: green; font-family:"Verdana CE", Verdana, "Arial CE", Arial, 
    Helvetica, sans-serif; text-decoration: none; text-align: justify; margin-bottom: 2px; font-weight: normal;}

H5 {font-size: 8pt; color: gray; font-family:"Verdana CE", Verdana, "Arial CE", Arial, 
    Helvetica, sans-serif; text-decoration: none; text-align: justify; margin-bottom: 2px; font-weight: normal;}

.error
{
color:red;
text-align: center;
}
    